In [1]:
import polars as pl

df = pl.read_parquet("kjoretoyinfo_preppet.parquet")

In [2]:
df = df.with_columns([
    pl.col("tekn_reg_f_g_n").cast(str).str.strptime(pl.Date, "%Y%m%d").alias("tekn_reg_f_g_n_date")
])

In [25]:
#Oppgave 7
elbiler_2000 = df.filter(
    (pl.col("tekn_drivstoff") == "5") & 
    (pl.col("tekn_reg_f_g_n_date").dt.year() == 2000)
).count()

print(f"Antall elbiler førstegangsregistrert i 2000: {elbiler_2000}")

Antall elbiler førstegangsregistrert i 2000: shape: (1, 10)
┌────────────┬────────────┬────────────┬───────────┬───┬───────────┬───────────┬───────┬───────────┐
│ tekn_reg_f ┆ tekn_reg_e ┆ tekn_aksle ┆ tekn_merk ┆ … ┆ tekn_nest ┆ tekn_kjtg ┆ elbil ┆ tekn_reg_ │
│ _g_n       ┆ ier_dato   ┆ r_drift    ┆ e         ┆   ┆ e_pkk     ┆ rp        ┆ ---   ┆ f_g_n_dat │
│ ---        ┆ ---        ┆ ---        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ u32   ┆ e         │
│ u32        ┆ u32        ┆ u32        ┆ u32       ┆   ┆ u32       ┆ u32       ┆       ┆ ---       │
│            ┆            ┆            ┆           ┆   ┆           ┆           ┆       ┆ u32       │
╞════════════╪════════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════╪═══════════╡
│ 126        ┆ 126        ┆ 126        ┆ 126       ┆ … ┆ 50        ┆ 126       ┆ 126   ┆ 126       │
└────────────┴────────────┴────────────┴───────────┴───┴───────────┴───────────┴───────┴───────────┘

In [26]:
#Oppgave 7
elbiler_2000 = df.filter(
    (pl.col("tekn_drivstoff") == "5") &
    (pl.col("tekn_reg_f_g_n_date").dt.year() == 2000)
).height

print(f"Antall elbiler førstegangsregistrert i 2000: {elbiler_2000}")

Antall elbiler førstegangsregistrert i 2000: 126

In [28]:
#Oppgave 9
# Filtrer datasettet for kjøretøy førstegangsregistrert i 2000
kjoretoy_2000 = df.filter(pl.col("tekn_reg_f_g_n_date").dt.year() == 2000)

# Grupper etter 'tekn_merke', tell, og sorter for å finne de mest populære merkene
mest_populaere_merker_2000 = (
    kjoretoy_2000
    .group_by("tekn_merke")
    .agg(pl.len().alias("antall"))
    .sort(by="antall", descending=True)
    .head(5)
)

print("De fem mest populære bilmerkene i 2000 var:")
print(mest_populaere_merker_2000)

De fem mest populære bilmerkene i 2000 var:
shape: (5, 2)
┌────────────┬────────┐
│ tekn_merke ┆ antall │
│ ---        ┆ ---    │
│ i64        ┆ u32    │
╞════════════╪════════╡
│ 5750       ┆ 10729  │
│ 5480       ┆ 9562   │
│ 3900       ┆ 7195   │
│ 4350       ┆ 5329   │
│ 1230       ┆ 4751   │
└────────────┴────────┘

In [29]:
#Oppgave 12
registreringer_per_maaned = df.with_columns(
    pl.col("tekn_reg_f_g_n_date").dt.month().alias("maaned")
).group_by("maaned").agg(
    pl.len().alias("antall_registreringer")  # Bruker pl.len() for telling
)


mest_registreringer = registreringer_per_maaned.sort(
    by="antall_registreringer", descending=True  
).head(1)

print("Måneden med flest førstegangsregistreringer av biler:")
print(mest_registreringer)

Måneden med flest førstegangsregistreringer av biler:
shape: (1, 2)
┌────────┬───────────────────────┐
│ maaned ┆ antall_registreringer │
│ ---    ┆ ---                   │
│ i8     ┆ u32                   │
╞════════╪═══════════════════════╡
│ 6      ┆ 248455                │
└────────┴───────────────────────┘

In [30]:
# Oppgave 15
kjoretoy_2000 = df.filter(pl.col("tekn_reg_f_g_n_date").dt.year() == 2000)

mest_populaere_merker_2000 = (
    kjoretoy_2000
    .group_by("tekn_merke")
    .agg(pl.len().alias("antall"))
    .sort(by="antall", descending=True)
    .head(5)
)

print("De fem mest populære bilmerkene i 2000 var:")
print(mest_populaere_merker_2000)

De fem mest populære bilmerkene i 2000 var:
shape: (5, 2)
┌────────────┬────────┐
│ tekn_merke ┆ antall │
│ ---        ┆ ---    │
│ i64        ┆ u32    │
╞════════════╪════════╡
│ 5750       ┆ 10729  │
│ 5480       ┆ 9562   │
│ 3900       ┆ 7195   │
│ 4350       ┆ 5329   │
│ 1230       ┆ 4751   │
└────────────┴────────┘

In [31]:
# Oppgave 15
kjoretoy_2000 = df.filter(pl.col("tekn_reg_f_g_n_date").dt.year() == 2000)

mest_populaere_merker_2000 = (
    kjoretoy_2000
    .group_by("tekn_modell")
    .agg(pl.len().alias("antall"))
    .sort(by="antall", descending=True)
    .head(5)
)

print("De fem mest populære bilmerkene i 2000 var:")
print(mest_populaere_merker_2000)

De fem mest populære bilmerkene i 2000 var:
shape: (5, 2)
┌─────────────┬────────┐
│ tekn_modell ┆ antall │
│ ---         ┆ ---    │
│ str         ┆ u32    │
╞═════════════╪════════╡
│ GOLF        ┆ 3208   │
│ -           ┆ 2499   │
│ PASSAT      ┆ 2342   │
│ FOCUS       ┆ 1922   │
│ YARIS       ┆ 1863   │
└─────────────┴────────┘